h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_2a63c6c8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:380px; min-width:1330px; max-width:1330px; background:none;  }
#container_2a63c6c8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_2ba0dbc0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle3 { text-align:justify;display: block }
.textstyle4 { font-size:60pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { text-align:left;display: block }
#heading_7fc73153 { position:absolute; left:0%; top:92%; background:none; font-size:60pt; font-family:Arial, Helvetica, sans-serif; color:#443B3B; text-align:justify; font-weight:bold;  }
#heading_6b0a0558 { position:absolute; left:38%; top:47%; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#heading_4789644e { position:absolute; left:42%; top:57%; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#5D5D9E; text-align:left; font-weight:bold; text-decoration:underline;  }
