a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_2b8a8e57 { vertical-align: top; position:relative; display: inline-block; width:102%; min-height:600px; min-width:1330px; max-width:1330px; background:none;  }
#container_2b8a8e57_padding { margin: 10px; display: block;  }
#img_41df46e { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#button_744bd6fd { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:40px; min-width:262px; max-width:262px; background-color:#4B52A7; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_5263dfac { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:40px; min-width:262px; max-width:262px; background-color:#4B52A7; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_41e58864 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:40px; min-width:262px; max-width:262px; background-color:#4B52A7; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_fe2fc3f { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:40px; min-width:262px; max-width:262px; background-color:#4B52A7; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_65e5c569 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:40px; min-width:262px; max-width:262px; background-color:#4B52A7; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#placeh_14e88ee0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; border: 1px solid #A0A0A0;  }
#container_22f72509 { vertical-align: top; position:relative; display: inline-block; width:102%; min-height:380px; min-width:1330px; max-width:1330px; background-color:#D9D9D9;  }
#container_22f72509_padding { margin: 10px; display: block;  }
#container_5c9515a7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:370px; background:none;  }
#container_5c9515a7_padding { margin: 10px; display: block;  }
#container_79434e84 { vertical-align: top; position:relative; display: inline-block; width:57%; min-height:205px; background:none;  }
#container_79434e84_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:25pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle5 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#img_1f43b43a { position:absolute; left:11%; top:59%; width:13%; background:none; height:auto;  }
#video_6f520955 { box-sizing: border-box; position:absolute; left:27%; top:0%; width:49%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
@media only screen and (max-width: 400px)
{
		#container_79434e84 { width:100%;  }
}
